<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
  <p class="col-md-8 fs-4">This quiz will contain total 9 questions. Each question holds 10 points</p>
  <h4>Rules:</h4>
  <ol>
    <li>Correct question gives you 10points</li>
    <li>Incorrect question gives you -10points</li>
    <li>You have 60 seconds to answer each question</li>
    <li>Refreshing the page will reset the quiz</li>

  </ol>
  <h1 class="text-center" style="font-family: cursive;">All the best!!<i style="color: orange;" class="fa fa-smile-o"
      aria-hidden="true"></i>
  </h1>
  <div class="name col-4 my-3">
    <label for="">Enter your name:</label>
    <input #name type="text" class="form-control">
  </div>
  <div class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start the Quiz</div>
</div>
